*{
padding:0;
margin:0;
border:0;
}
@media only screen and (min-width:850px){
.nav-brand{
width:150px;
margin-left:30px;
}
.nav-bar{
font-size:20px;
display:flex;
justify-content:space-between;
align-items:top;
height:150px;
padding:0 20px;
grid-template:"nav-bar" 1fr;
	"extended"  1fr;
}
.extended{
padding-left:20px;
font-size:15px;
}
li.active{
border-bottom:2px solid rgba(218, 139, 177,.6);
}
nav ul{
	list-style:none;
	display:flex;
	gap:20px;
}
ul li{
	padding:10px;
}
nav li:hover{
	border-bottom:2px solid #da8bb1;
}
i{
	color:#da8bb1;
}
.nav-bar a, .extended a, a{
	color:black;
	text-decoration:none;
}
/*.extended{
	position: sticky;
	top:0px;
	display:grid;
	grid-template-columns: repeat(1,1fr);
}
.extended ul{
	display:grid;
	grid-template-columns: repeat(8,1fr);
	list-style-type: none;
}*/
.content{
	width:100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap:30px;


}
.wlcm{
	width:100%;
	height:auto;
	margin:auto;
}
.titleContent{
	width:70%;
	margin:auto;
	padding:30px;
	background:rgb(17, 95, 169);
	text-align:center;
	font-size:30px;
	color:#fff;
}
.objetivos{
	width:100%;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:20px;
}
.apoyo{
	width:70%;
	margin:auto;
}
figcaption{
	font-size:20px;
	margin-bottom:30px;
	font-weight: bold;
}
.programas{
	display:grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
}
.diamujer{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.diamujer h1, .diamujer h2, .diamujer h3{
	grid-column:1/4;
}
.evidencia{
	width:80%;
	height:350px;
	margin:auto;
	background:#ddee22;

}
.ilusionescumplidas{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap:30px;
}
.ilusionescumplidas h1{
	grid-column: 1/4;
}
/*Footers*/

/*Footer Desktop*/

/*Formato de pie de página*/
.footerDesktop{
	width:100%;
	height:auto;
	background:#da8bb1;
	display:grid;
	grid-template-columns: repeat(3,1fr);
}
.social{
	grid-column:1/4;
}
.social ul{
	display:flex;
	list-style:none;
	gap:400px;
	justify-content: center;
}

.footerDesktop i, .footerDesktop p{
	font-size:22px;
	color:#813b92;
}
.social li i:hover{
	color:rgba(17, 95, 169,.5);
}


.actionButtons li a:hover{
	background:rgba(17, 95, 169,.5);
} 	
.social, .joinUs{
	padding:20px;
}


.actionButtons ul{
	display:flex;
	list-style:none;
	gap:10px;
}
.actionButtons ul a{
	text-decoration:none;
	background: #913b92;
	border-radius:5px;
	padding:5px;
	pointer:cursor;
	opacity:.7;
	color:black;
	font-size:20px;
	box-shadow:-2px 2px 3px;
}

.faTeam{
	text-align:center;
}
.faTeam .fa-users{
	font-size:60px;
	
}
.faTeam .slogan{
	font-size:12px;
}

.contacto{
	width:100%;
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-auto-rows: minmax(100px, auto);
	text-align: center;
}
.contacto li{
	list-style-type: none;
}
.contacto li:nth-child(even){
	grid-column: 2;
}
	
}