*{
	padding:0;
	margin:0;
	border:0;
}
body{
	background-color: #F0F0F0;
}
@media only screen and (min-width:850px){
.nav-brand{
	width:150px;
	margin-left:30px;
}
.nav-brand img{
	width:100%;
	height:100%;
}
.nav-bar{
	font-size:20px;
	display:flex;
	justify-content:space-between;
	align-items:top;
	height:150px;
	padding:0px 20px;
	background-color:#fff;
	grid-template:"nav-bar" 1fr,
		"extended"  1fr;
}
.extended{
	padding-left:20px;
	font-size:15px;
}
li.active{
	border-bottom:2px solid rgba(218, 139, 177,.6);
}
nav ul{
	list-style:none;
	display:flex;
	gap:20px;
}
ul li{
	padding:10px;
}
nav li:hover{
	border-bottom:2px solid #da8bb1;
}
i{
	color:#da8bb1;
}
.nav-bar a, .extended a, a{
	color:black;
	text-decoration:none;
}
/*.extended{
	position: sticky;
	top:0px;
	display:grid;
	grid-template-columns: repeat(1,1fr);
}
.extended ul{
	display:grid;
	grid-template-columns: repeat(8,1fr);
	list-style-type: none;
}*/
.content{
	width:100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap:50px;
	margin-bottom: 30px;
}
.wlcm{
	width:100%;
	height:auto;
	margin:auto;
}
.titleContent{
	width:70%;
	margin:auto;
	padding:30px;
	background:rgb(17, 95, 169);
	text-align:center;
	font-size:30px;
	color:#fff;
}
hr{
	border:2px solid #fff;
	width:80%;
	margin:auto;
}
.objetivos{
	width:100%;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:20px;
}
.apoyo{
	width:70%;
	margin:auto;
}
figcaption{
	font-size:20px;
	margin-bottom:30px;
	font-weight: bold;
}
.programas{
	display:grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
}
.diamujer{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.diamujer h1, .diamujer h2, .diamujer h3{
	grid-column:1/4;
}
.evidencia{
	width:80%;
	height:350px;
	margin:auto;
	background:#ddee22;

}
.ilusionescumplidas{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap:30px;
}
.ilusionescumplidas h1{
	grid-column: 1/4;
}
/*Footers*/

/*Footer Desktop*/

/*Formato de pie de página*/
.footerDesktop{
	width:100%;
	height:auto;
	padding:30px 0px;
	background:#da8bb1;
	display:grid;
	grid-template-columns: repeat(4,1fr);
}
.footerDesktop i, .footerDesktop p{
	font-size:22px;
	color:#813b92;
}
.contacto ul{
	width:100%;
	display:grid;
	grid-template-columns:repeat(2,1fr);
	text-align: center;
}
.contacto li{
	list-style-type: none;
}
.contacto li:first-child{
	grid-column: 1/3;
}
.contacto li:last-child{
	text-align: center;
	grid-column: 1/3;
}
.joinUs{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.actionButtons li a:hover{
	background:rgba(17, 95, 169,.5);
} 	
.actionButtons ul{
	display:flex;
	list-style:none;
	gap:10px;
}
.actionButtons ul a{
	text-decoration:none;
	background: #913b92;
	border-radius:5px;
	padding:5px;
	pointer:cursor;
	opacity:.7;
	color:black;
	font-size:20px;
	box-shadow:-2px 2px 3px;
}
.faTeam{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.faTeam li{
	list-style-type: none;
}
.faTeam .fa-users{
	font-size:60px;	
}
.faTeam .slogan{
	font-size:12px;
}
.social{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.social ul{
	display:flex;
	justify-content: center;
	list-style:none;
}
.social li i:hover{
	color:rgba(17, 95, 169,.5);
}

/*Acerca de*/
.acercade{
	width:80%;
	margin:auto;
	display:grid;
	grid-template-columns:repeat(2,1fr);
}
.acercade div:first-child{
	grid-column: 1/3;
}
li{
	list-style-type: none;
}
}